.converter {
	margin-bottom: 100px;

	form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.converter__title {
	margin: 0;
	font-weight: 700;
	font-size: 41px;
	line-height: 57px;
	color: #1F1E25;
	margin-bottom: 48px;
}

.converter__form-group {
	display: flex;
	width: calc(50% - 60px);
	align-items: flex-end;
	margin-bottom: 85px;

	&:first-child {
		position: relative;
		margin-right: 120px;

		&::after {
			position: absolute;
			content: "";
			bottom: 17px;
			left: calc(100% + 40px);
			width: 50px;
			height: 34px;
			background: url('../../img/arrows.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}

	select {
		padding-top: 9px;
		padding-bottom: 9px;
		padding-left: 15px;
		padding-right: 39px;
		font-size: 30px;
		font-weight: 400;
		color: #000000;
		line-height: 42px;
		border: 1px solid #1F1E25;
		border-radius: 4px;
		outline: none;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		background: url('../../img/select.svg');
		background-repeat: no-repeat;
		background-position: 85% center;
		transition: border-color 0.3s ease;

		&:hover,
		&:focus {
			border-color: #2C36F2;
		}
	}

}

.converter__input-wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-right: 15px;

	label {
		font-weight: 500;
		font-size: 22px;
		line-height: 31px;
		color: #1F1E25;
		margin-bottom: 22px;
	}

	input {
		text-align: center;
		padding: 13px;
		font-size: 24px;
		font-weight: 500;
		color: #000000;
		line-height: 34px;
		border: 1px solid #1F1E25;
		border-radius: 4px;
		outline: none;

		-moz-appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}

		transition: border-color 0.3s ease;

		&:hover,
		&:focus {
			border-color: #2C36F2;
		}
	}
}

.converter__calendar {
	position: relative;
	min-width: 390px;

	input {
		font-family: "Roboto", "Arial", sans-serif;
		width: 100%;
		text-align: center;
		padding: 10px;
		font-size: 24px;
		font-weight: 400;
		color: #000000;
		line-height: 34px;
		border: 1px solid #1F1E25;
		border-radius: 4px;
		outline: none;
		transition: border-color 0.3s ease;
		-moz-appearance: textfield;

		&:hover,
		&:focus {
			border-color: #2C36F2;
		}

		&::-webkit-calendar-picker-indicator {
			color: transparent;
			opacity: 0;
		}
	}


	&::after {
		z-index: 10;
		pointer-events: none;
		content: '';
		position: absolute;
		top: 6px;
		right: 20px;
		width: 39px;
		height: 42px;
		background-color: white;
		background-image: url('../../img/calendar.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.converter__submit {
	display: block;
	min-width: 382px;
	background-color: #2C36F2;
	color: #F6F7FF;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	padding: 17px 31px;
	border-radius: 4px;
	border: none;
	cursor: pointer;

	transition: opacity 0.3s ease;

	&:hover,
	&:focus {
		opacity: 0.7;
	}
}